<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.graviton.Cuzdan"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11"
            android:targetSdkVersion="21"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name="com.graviton.Cuzdan.Global">
        <activity android:name="com.graviton.Cuzdan.SplashActivity"
                  android:label="@string/app_name"
                android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.graviton.Cuzdan.MainActivity" android:theme="@style/CustomActionBarTheme" android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.graviton.Cuzdan.IncomeWizardActivity" android:theme="@style/CustomActionBarTheme" android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.graviton.Cuzdan.ExpenseWizardActivity" android:theme="@style/CustomActionBarTheme" android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.graviton.Cuzdan.IncomeStatsActivity" android:theme="@style/CustomActionBarTheme" android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.graviton.Cuzdan.ExpenseStatsActivity" android:theme="@style/CustomActionBarTheme" android:screenOrientation="portrait" >
        </activity>
    </application>
</manifest>
